#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
*.java
*.class
*.info
*.properties
*.jar
/SandBox/
/1.JavaSyntax/
/2.JavaCore/
/3.JavaMultithreading/
!/3.JavaMultithreading/src/com/javarush/task/task29/task2909/
/4.JavaCollections/
/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*


